html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
  font-family: 'Bevan', cursive;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
  color: #fff;
  padding: 0em;
}

body{
  background-color: #79756f;
  margin: 0;
  padding: 0;
  border-style: solid;
  border-color: #595652;

}

.tags {
  font-family: sans-serif;
  margin: 0.3em;
  padding: 0.6em;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
}

.tags li {
  display: inline-block;
  padding: 0.5rem;
  background-color: #713837;
  border-radius: 5px;
  text-align: left;
}

a {
  color: #fff;
}

a:hover {
  color: #f33;
}
